
{% if message %}
    <h5 style="margin-left: 4%;">{{message}}. <a style="color: aqua;" href="{% url 'admin-home' %}">Refresh.</a></h5>

{% else %}
    <p>Name: {{user.first_name}}</p><br>
    <form hx-post="{% url 'change_password' %}" hx-target="#change_password_response" hx-swap="outerHTML">
        {% csrf_token %}
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <div class="modal-footer">
            <!-- Close button -->
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <!-- Update Password button -->
            <button type="submit" class="btn btn-primary">Update Password</button>
        </div>
    </form>
{% endif %}
